#main {
	position:relative;
	margin: 100px auto;
	padding: 5px;
	width: 800px;
	height:500px;
	background-color: green;
	border: 5px solid pink;
	border-radius:15px;
}

#scr {
	margin:20px auto;
	width: 740px;
	height: 460px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border: 2px solid black;
	border-radius:10px;
}

button {
	position: absolute;
	top: 200px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}

.left {
	left:5px;
}

.right {
	right:5px;
}